# Ignore temporary files and log files
*~*
*.asv
.nfs*
*.o*
*.e*

# Ignore designated directories
.ignore/

# Ignore working directories and log directories
/Working
/Logs

# Ignore calibration point and scenario directories
/CalibrationPoints
/Scenarios

# Ignore Linux mex files (i.e. mex files built on the HPCC)
*.mexa64

# Ignore Matlab code generation directories
/*_codegen