# Ignore temporary files and log files
*~*
*.asv
.nfs*
*.o*
*.e*

# Ignore testing directory and log directory
/Testing
/Logs

# Ignore designated directories
.ignore/

# Ignore mex files to enforce just-in-time builds and avoid version conflicts
*.mex*