# Ignore temporary files and log files
*~*
*.asv
.nfs*
*.o*
*.e*

# Ignore testing directories and log directories
Testing/
Logs/

# Ignore batch and run directories
/Batches
/Runs

# Ignore designated directories
.ignore/

# Ignore Linux mex files (i.e. mex files built on the HPCC)
*.mexa64

# Ignore Matlab code generation directories
/*_codegen